# Git
.git
.gitignore
# Secrets
.env
.env_example
#Test files
**/sample_data/
# Python junk
__pycache__/
*.pyc
*.pyo
*.pyd
.venv
venv/
.pytest_cache
.coverage
# Docker files
Dockerfile
docker-compose.yml
.dockerignore
# Documentation
README.md